logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
coverage/
client/bundles/*
.idea/
run/
.DS_Store
*.sw*
*.un~
**/.next
test/**/*.js
test/**/*.js.map
.vscode/
*.map
*.jsx
.i18n
_static
.DS_Store
dist
